.user-list-item-container{
    height: 120px;
    width: 400px;
    /* border: 1px solid rgb(50, 85, 238); */
    position: relative;
    margin-top: 10px;
    /* border-radius: 200px; */
    border: 3px solid #d47c9b;
    border-right: none;
    
    /* border-left: none;
    border-right: none; */
    border-bottom-right-radius: 9px;
    /* background-image: linear-gradient(to bottom right,rgb(159, 175, 184) , rgb(185, 200, 241)); */
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%); */
    /* clip-path: polygon(75% 0%, 77% 48%, 75% 100%, 0% 100%, 0 55%, 0% 0%); */
    /* box-shadow: 0px 2px rgb(50, 85, 238); */
    margin-bottom: 10px;
}
.user-list-item-picture{
    border: 0.7px solid rgb(40, 43, 42);
    display: inline-block;
    /* vertical-align: center; */
}
.user-list-item-picture{
   height: 69%;
   margin-top: 16px;
   margin-left: 20px;
   border-radius: 50%;
   overflow: hidden;
}
.user-list-item-picture img{
    width: auto;
}